<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=0, minimal-ui">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <link rel="icon" href="{{favicon}}" type="image/x-icon">

  <!-- {{locals.config.cssFramework}} -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Varela+Round">

  <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
  
  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72041050-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<!--




    Your work is going to fill a large part of your life, 
and the only way to be truly satisfied is to do what you 
believe is great work. And the only way to do great work 
is to love what you do. If you haven't found it yet, keep 
looking. Don't settle. As with all matters of the heart, 
you'll know when you find it.

                                              Steve Jobs






-->
<body class="ng-cloak">

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '214274262256883',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <canvas id="canvas" width="100%" height="100%" style="z-index:-1;"></canvas>
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  <section class="content">
    <section class="container">
      {% block content %}{% endblock %}
    </section>
  </section>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>

  {% endif %}

</body>
</html>
