<section ng-controller="HomeController">
  <div class="row-sm-12">
    <div>
      <p style="color: white;">Current time is: <span my-current-time="format"></span></p>

      <h2>This is a MEAN.JS web application</h2>
      <p>sign-up or sign-in to view articiles or chat with others online =D</p>
      <ul>
        <li>
          Click
          <em>Sign Up</em> to get started.
        </li>
        <li>
          Thanks for visiting, Have fun...
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="my_container">
      <ul>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/1.jpg" />
          <span>Cats<br>this is crazy, show some text when you hover</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/2.jpg" />
          <span>Transport</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/3.jpg" />
          <span>Abstract</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/4.jpg" />
          <span>Nightlife</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/5.jpg" />
          <span>City</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/6.jpg" />
          <span>Sports</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/7.jpg" />
          <span>People</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/8.jpg" />
          <span>Food</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/9.jpg" />
          <span>Cats</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/10.jpg" />
          <span>Transport</span></a>
        </li>
      </ul>  
    </div>
  </div>

  <div class="row-sm-12">
    <div>
      <h2>MJS Documentation</h2>
      <p>
        Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
        <ul>
          <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
          </li>
          <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
  				</li> -->
          <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
          </li>
          <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
          </li>
          <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
          </li>
          <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</section>
