<section ng-controller="HomeController">
  <br />
  <myresume class="row-sm-12 myresume">
    <div class="resume-wrapper">
      <section class="profile section-padding">
        <div class="resumecontainer">
          <div class="picture-resume-wrapper">
           <div class="picture-resume">
            <span><img src="modules/core/client/img/surprised-husky-dalin.jpg" alt="sorry" /></span>
           </div>
          </div>
          <div class="name-wrapper">
            <h1>Dalin<br/>Huang</h1>
          </div>
          <div class="clearfix"></div>
          <div class="contact-info clearfix">
            <ul class="list-titles">
              <li>Cell</li>
              <li>Email</li>
              <li>Web</li>
              <li>Address</li>
            </ul>
            <ul class="list-content ">
              <li>(647)-927-2292</li>
              <li>dhuan023@gmail.com</li>
              <li>appmean.heroku.com</li>
              <li>Ottawa, ON</li>
            </ul>
          </div>
          <div class="education-presentation"> <!-- education presentation -->
            <strong><span>University of Ottawa &#8226; 2009 - 2014</span><br /></strong>
            <span>BSc: <i>Specialization in Computer Science;<br /> Minor in Economics</i></span>
            <br /><br />
            <strong><span>I'm a Permanent Resident of Canada since 2006</span><br /></strong>
          </div>

          <!-- social buttons -->
          <div id="social-platforms">
            <a class="btn btn-icon btn-facebook" href="https://www.facebook.com/dalin.huang.39" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
            <a class="btn btn-icon btn-googleplus" href="https://stackoverflow.com/users/4739018/daniel-h?tab=profile" target="_blank"><i class="fa fa-stack-overflow"></i><span><small>StackOverflow</small></span></a>
            <a class="btn btn-icon btn-github" href="https://github.com/dalinhuang99" target="_blank"><i class="fa fa-github-alt"></i><span>GitHub</span></a>
            <a class="btn btn-icon btn-linkedin" href="https://ca.linkedin.com/in/dalinhuang" target="_blank"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
          </div>
        </div>
      </section>
      
      <section class="experience section-padding">
        <div class="resumecontainer">
          <h3 class="experience-title">Experience</h3>
          <div class="experience-wrapper">
            
            <div class="company-wrapper clearfix">
              <div class="experience-title">FarmLead</div>
              <div class="time">Ottawa, ON<br />Feb 2017 - Present</div>
            </div>
            
            <div class="job-wrapper clearfix">
              <div class="experience-title">Full Stack Developer</div>
              <div class="company-description">
                <li>Full-stack</li>
                <li>php7, MySQL</li>
                <li>server admin</li>
                <li>AWS</li>
              </div>
            </div>

            <div class="company-wrapper clearfix">
              <div class="experience-title">i-Sight Software</div>
              <div class="time">Ottawa, ON<br />Mar 2016 - Feb 2017</div>
            </div>
            
            <div class="job-wrapper clearfix">
              <div class="experience-title">Software Application Developer</div>
              <div class="company-description">
                <li>Full-stack / Pair programing / Agile Development</li>
                <li>Backbone.js, Node.js, Seneca.js, PostgreSQL</li>
                <li>Lead developer for Michigan and Wipro</li>
                <li>Core developer for GSK</li>
              </div>
            </div>

            <div class="company-wrapper clearfix">
              <div class="experience-title">FarmLead</div>
              <div class="time">Ottawa, ON<br />Jun 2016 - Oct 2016</div>
            </div>
            
            <div class="job-wrapper clearfix">
              <div class="experience-title">Front End Developer (Part-time)</div>
              <div class="company-description">
                <li>Remote (Vue.js, CoffeeScript, ectjs, Python)</li>
                <li>Develop an online market place for grain seller and buyer.</li>
                <li>No bootstrap, No jQuery, everything build from scratch.</li>
              </div>
            </div>

            <div class="company-wrapper clearfix">
              <div class="experience-title">Events.com</div>
              <div class="time">Ottawa, ON<br />Mar 2015 - Feb 2016</div>
            </div>
            
            <div class="job-wrapper clearfix">
              <div class="experience-title">Web Developer</div>
              <div class="company-description">
                <li>Agile Web Development (LAMP)</li>
                <li>Building and maintaining online event registration forms</li>
                <li>Responsible for weekend emergency support</li>
              </div>
            </div>

          </div><!--skill experience-->
          
          <div class="section-wrapper clearfix">
            <h3 class="section-title">Skills</h3>
              <ul>
                <li class="skill-percentage">HTML5</li>
                <li class="skill-percentage">CSS3</li>
                <li class="skill-percentage">PHP 5</li>
                <li class="skill-percentage">SQL / MySQL / Postgre</li>
                <li class="skill-percentage">JS / jQuery</li>
                <li class="skill-percentage">Elasticsearch</li>
                <li class="skill-percentage">Angularjs</li>
                <li class="skill-percentage">Node.js</li>
                <li class="skill-percentage">UX & UI</li>
                <li class="skill-percentage"><b>Desire to learn</b></li>
              </ul>
          </div>
          
          <div class="section-wrapper clearfix">
            <h3 class="section-title">Projects</h3>
            <div class="experience-project"><i>Mud Hero 2016</i></div>
            <small>Jan 2016 - Feb 2016</small>
            <li>Add new locations for 2016</li>
            <li>Add Google track and Facebook track to the system</li>
            <li><b><a href="https://secure.eventsonline.ca/reg/mudhero2016/toronto-north-ultra" target="_blank" >mudhero2016</a></b></li>
            <br />
            <div class="experience-project"><i>The Get Movin' Crew</i></div>
            <small>Apr 2015 - Jun 2015</small>
            <li>GMC is one of the biggest client for Events.com</li>
            <li>Building public pages:</li>
            <li style="list-style-type: none; margin-left: 16px;">  
              <b>
                <a href="https://secure.eventsonline.us/demo/getmovincrew/pub/school/7" target="_blank">School</a>, 
                <a href="https://secure.eventsonline.us/demo/getmovincrew/pub/classroom/14" target="_blank">Classroom</a>, 
                <a href="https://secure.eventsonline.us/demo/getmovincrew/pub/profile/OR78uwM5Q0GiVIk" target="_blank">Student</a>
              </b>
            </li>
            <li>Worked on confirmation email and admin reports</li>
          </div>
          
        </div>
      </section>
      
      <div class="clearfix"></div>
    </div>

  </myresume>
  <br /><br /><br />

  <div class="row-sm-12">
  </div>

  <div class="row-sm-12" align="center">
    <div>
      <p style="color: white;"><span my-current-time="format"></span></p>
    </div>
  </div>
  <br /><br /><br />

</section>
