<section ng-controller="HomeController">
  <br />
  <myresume class="row-sm-12">
    <div class="resume-wrapper">
      <section class="profile section-padding">
        <div class="resumecontainer">
          <div class="picture-resume-wrapper">
           <div class="picture-resume">
            <span><img src="modules/core/client/img/imagesmin.jpg" alt="sorry" /></span>
           </div>
          </div>
          <div class="name-wrapper">
            <h1>Dalin,<br/>Huang</h1>
          </div>
          <div class="clearfix"></div>
          <div class="contact-info clearfix">
            <ul class="list-titles">
              <li>Cell</li>
              <li>Email</li>
              <li>Web</li>
              <li>Address</li>
            </ul>
            <ul class="list-content ">
              <li>(647)-927-2292</li>
              <li>dhuan023@gmail.com</li>
              <li><a href="https://appmean.herokuapp.com/" target="_blank">appmean.heroku.com</a></li>
              <li>Ottawa, ON</li>
            </ul>
          </div>
          <div class="education-presentation"> <!-- education presentation -->
            <strong><span>University of Ottawa &#8226; 2009 - 2014</span><br /></strong>
            <span>BSc: <i>Specialization in Computer Science;<br /> Minor in Economics</i></span>
            <li>4<sup>th</sup> Year GPA: 9/10 </li>
          </div>
          <!-- social buttons -->
          <div id="social-platforms">
            <a class="btn btn-icon btn-facebook" href="https://www.facebook.com/dalin.huang.39" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
            <a class="btn btn-icon btn-googleplus" href="https://plus.google.com/104139969650292143131" target="_blank"><i class="fa fa-google-plus"></i><span>Google+</span></a>
            <a class="btn btn-icon btn-github" href="https://github.com/hdl881127" target="_blank"><i class="fa fa-github-alt"></i><span>GitHub</span></a>
            <a class="btn btn-icon btn-linkedin" href="https://ca.linkedin.com/in/dalinhuang" target="_blank"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
          </div>
        </div>
      </section>
      
      <section class="experience section-padding">
        <div class="resumecontainer">
          <h3 class="experience-title">Experience</h3>
          
          <div class="experience-wrapper">
            <div class="company-wrapper clearfix">
              <div class="experience-title">Events.com</div>
              <div class="time">Ottawa, ON<br />Mar 2015 - Present</div>
            </div>
            
            <div class="job-wrapper clearfix">
              <div class="experience-title">Web Developer </div>
              <div class="company-description">
                <li>Full-stack Web Development (LAMP)</li>
                <li>Building and maintaining online event registration forms</li>
                <li>PHP, JS, jQuery, Ajax, SQL, HTML, CSS, Perl</li>
                <li>Facebook Pixel, Google Analytics, Stripe</li>
                <li>Responsible for weekend emergency support</li>
              </div>
            </div>
            
            <div class="company-wrapper clearfix">
              <div class="experience-title">ixinyou.com</div>
              <div class="time">Beijing, CHINA<br />Jun 2014 - Nov 2014</div>
            </div>
            
             <div class="job-wrapper clearfix">
              <div class="experience-title">Operations Specialist</div>
              <div class="company-description">
                <li>PC/Mobile game company</li>
                <li>Coordinate with R&D, QA and MARKETING</li>
                <li>Prepared and delivered weekly project status presentations to VP in order to ensure efficient communication across departments</li>
                <li>ixinyou.com is a startup and launched its IPO in 2015</li>
              </div>
            </div>
            
          </div><!--skill experience-->
          
          <div class="section-wrapper clearfix">
            <h3 class="section-title">Skills</h3>
              <ul>
                <li class="skill-percentage">HTML5</li>
                <li class="skill-percentage">CSS3</li>
                <li class="skill-percentage">PHP 5</li>
                <li class="skill-percentage">SQL / MySQL / Postgre</li>
                <li class="skill-percentage">JS / jQuery / Ajax</li>
                <li class="skill-percentage">Perl</li>
                <li class="skill-percentage">Angularjs</li>
                <li class="skill-percentage">Node.js</li>
                <li class="skill-percentage">Desire to learn</li>
              </ul>
          </div>
          
          <div class="section-wrapper clearfix">
            <h3 class="section-title">Projects</h3>
            <div class="experience-project"><i>Mud Hero 2016</i></div>
            <small>Jan 2016 - Feb 2016</small>
            <li>Add new locations for 2016</li>
            <li>Add Google track and Facebook track to the system</li>
            <li><b><a href="https://secure.eventsonline.ca/reg/mudhero2016/ottawa-ultra" target="_blank">mudhero2016</a></b></li>
            <br />
            <div class="experience-project"><i>The Get Movin' Crew</i></div>
            <small>Apr 2015 - Jun 2015</small>
            <li>GMC is one of the biggest client for Events.com</li>
            <li>Coded all public pages:</li>
            <li>  
              <b>
                <a href="https://secure.eventsonline.us/demo/getmovincrew/pub/school/7" target="_blank">School</a>, 
                <a href="https://secure.eventsonline.us/demo/getmovincrew/pub/classroom/14" target="_blank">Classroom</a>, 
                <a href="https://secure.eventsonline.us/demo/getmovincrew/pub/profile/OR78uwM5Q0GiVIk" target="_blank">Student</a>
              </b>
            </li>
            <li>Worked on confirmation email and admin reports</li>
          </div>
          
        </div>
      </section>
      
      <div class="clearfix"></div>
    </div>

  </myresume>
  <br /><br /><br />

  <!--
  <div class="row">
    <div class="my_container">
      <ul>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/1.jpg" />
          <span><i>Aurora</i><br />An aurora, sometimes referred to as a polar light, is a natural light display in the sky.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/2.jpg" />
          <span><i>Valley</i><br />A valley is a low area between hills, often with a river running through it.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/3.jpg" />
          <span><i>Beach</i><br />A beach is a landform along the coast of an ocean or sea, or the edge of a lake or river.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/4.jpg" />
          <span><i>Bay</i><br />A bay is a body of water connected to an ocean or lake, formed by an indentation of the shoreline.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/5.jpg" />
          <span><i>Mountain</i><br />A mountain is a large landform that stretches above the surrounding land in a limited area, usually in the form of a peak.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/6.jpg" />
          <span><i>Hill</i><br />A hill is a landform that extends above the surrounding terrain.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/7.jpg" />
          <span><i>Lake</i><br />A lake is an area of variable size filled with water, localized in a basin, that is surrounded by land.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/8.jpg" />
          <span><i>Cliff</i><br />In geography and geology, a cliff is a vertical, or near vertical, rock exposure.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/9.jpg" />
          <span><i>Hill</i><br />A hill is a landform that extends above the surrounding terrain.</span></a>
        </li>
        <li class="block">
          <a href="#"><img src="modules/core/client/img/10.jpg" />
          <span><i>Ocean</i><br />An ocean is a body of saline water that composes much of a planet's hydrosphere.</span></a>
        </li>
      </ul>  
    </div>
  </div>
  -->

  <div class="row-sm-12">
  </div>

  <div class="row-sm-12" align="center">
    <div>
      <p style="color: white;"><span my-current-time="format"></span></p>
    </div>
  </div>
  <br /><br /><br />

</section>
