<section ng-controller="ArticlesController" ng-init="find()" style="margin: 0; padding: 0;">
  <div class="page-header">
    <h1>Articles</h1>
  </div>
  <div class="articles no-bullets">
    <li ng-repeat="article in articles | orderBy: '-upvotes'">
      <div class="panel panel-info">
        <div class="panel-heading">
        <a class="articles-title" ui-sref="articles.view({articleId: article._id})">{{article.title}}</a>
        </div>
        <div class="panel-body">
          <pre style="overflow:hidden"><p class="list-group-item-text" ng-bind="article.content"></p></pre>
        <div class="panel-footer hide-xxs">
          <div class="row">
            <div class="col-md-6">
              <button class="myButton" type="button" ng-click="incrementUpvotes(article)" ng-model="upvotes">
                <i class="fa fa-thumbs-o-up fa-lg"></i> <span class="badge">{{article.upvotes}}</span>
              </button>
              <button class="myButton" type="button" ng-click="incrementDownvotes(article)" ng-model="downvotes">
                <i class="fa fa-thumbs-o-down fa-lg"></i> <span class="badge">{{article.downvotes}}</span>
              </button>
              <button class="myButton" type="button" ng-model="visit">
                <i class="fa fa-eye fa-lg"></i> <span class="badge">{{article.visit}}</span>
              </button>
              <button class="myButton" type="button">
                <i class="fa fa-comments fa-lg"></i> <span class="badge">{{article.comments.length}}</span>
              </button>
            </div>
          </div>
        </div>
        <!-- show at small mobile -->
        <div>
            <div class="col-xs-12 show-xxs">
                <button class="myButton" type="button" ng-click="incrementUpvotes(article)" value="Update" ng-model="upvotes">
                  <i class="fa fa-thumbs-o-up fa-lg"></i> <span class="badge">{{article.upvotes}}</span>
                </button>
                <button class="myButton" type="button" ng-click="incrementDownvotes(article)" ng-model="downvotes">
                  <i class="fa fa-thumbs-o-down fa-lg"></i> <span class="badge">{{article.downvotes}}</span>
                </button>
            </div>
        </div>
        <!-- show at small mobile -->
        <font size="3">
          <i class="pull-right">
            <small class="list-group-item-text">
              Posted on
              <span ng-bind="article.created | date:'mediumDate'"></span>
              by
              <span ng-if="article.user" ng-bind="article.user.displayName"></span>
              <span ng-if="!article.user">Deleted User</span>
            </small>
          </i>
        </font>
      </div>

    </a>
    </li>
  </div>

  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
