<section ng-controller="ArticlesController" ng-init="findOne()">
<form name="articleForm" class="form-horizontal col-md-12" role="form" ng-submit="update(articleForm.$valid)" novalidate>
<br /><br />
  <div class="panel panel-info">
    <div class="panel-heading" style="text-align: center;">
      <font size="5"><b> {{article.title}}</b></font>
      <span class="pull-right" ng-show="authentication.user._id == article.user._id">
        <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </span>
  </div>
<div class="panel-body">

    <pre style="max-height: none;"><p class="list-group-item-text" ng-bind="article.content"></p></pre>

      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-primary" type="submit" ng-click="incrementUpvotes(article)" value="Update" ng-model="upvotes">
              <i class="fa fa-heart fa-lg"></i> <span class="badge">{{article.upvotes}}</span>
            </button>
            <button class="btn btn-success" type="submit" ng-click="incrementVisit(article)" ng-model="visit">
              <i class="fa fa-eye fa-lg"></i> <span class="badge">{{article.visit}}</span>
            </button>
            <button class="btn btn-warning" type="submit">
              <i class="fa fa-comments fa-lg"></i> <span class="badge">{{article.comments.length}}</span>
            </button>
          </div>
          <div class="col-sm-8">
            <font size="4">
              <i class="pull-right">
                Posted on
                <span ng-bind="article.created | date:'mediumDate'"></span>
                by
                <span ng-if="article.user" ng-bind="article.user.displayName"></span>
                <span ng-if="!article.user">Deleted User</span>
              </i>
            </font>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row-sm-12" ng-controller="HeaderController as hdrctr">
    <h4>{{article.comments.length}} Comments</h4>
    <ul class="list-group">
      <div ng-repeat="comments in article.comments track by $index"><li class="list-group-item list-group-item-warning" style="word-wrap: break-word">{{comments}}</li></div>
    </ul>
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.addcomments.$invalid }">
      <div class="col-md-9">
        <textarea name="addcomments" type="text" class="form-control" ng-model="article.addcomments" id="addcomments" placeholder="Your comments"></textarea>
        <div ng-show="submitted && articleForm.comments.$invalid" class="help-block">
          <p ng-show="articleForm.addcomments.$error.required">addcomments is required</p>
        </div>
        <br />
      </div>
      <div class="col-md-2">
        <button mean-token="'edit-submit'" type="submit" class="btn btn-primary btn-lg" ng-click="addNewComment(article, authentication.user.displayName)" >Post Comments</button>
      </div>
    </div>
  </div>

  </form>
</section>
