@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
  z-index:1;
  margin: 0px;
  height: 100%;
  color:gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
canvas {
      display: block;
      width: 100%;
      height: 100%;
      position:fixed; 
      top:0;left:0;
}

nav ul li a:hover {
  overflow: hidden;
  -webkit-transform: translate(3px,-2px);
  -moz-transform: translate(3px,-2px);
  transition: 0.2s;
}


.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/* custom background */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}




/* custom menu icon */
.nav-icon {
  margin: 0 auto;
  padding: 8px 5px 5px 5px;
  width: 50px;
  cursor: pointer;
}
.nav-icon div, .nav-icon:after, .nav-icon:before {
  content: "";
  background: #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 4px;
  display: block;
  margin: 5px 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-icon:hover:before {
  -moz-transform: translateY(9px) rotate(135deg);
  -ms-transform: translateY(9px) rotate(135deg);
  -webkit-transform: translateY(9px) rotate(135deg);
  transform: translateY(9px) rotate(135deg);
}
.nav-icon:hover:after {
  -moz-transform: translateY(-9px) rotate(-135deg);
  -ms-transform: translateY(-9px) rotate(-135deg);
  -webkit-transform: translateY(-9px) rotate(-135deg);
  transform: translateY(-9px) rotate(-135deg);
}
.nav-icon:hover div {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* custom menu icon */


/* grid */

/* apply a natural box layout model to all elements */
/*
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.my_container ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  clear: both;
}
.my_container ul .block {
  width: 20%;
  height: auto;
  position: relative;
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 20% 0;
  transition: 0.8s ease;
}

.my_container ul .block:hover span {
  height: 50%;
  line-height: 150%;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .my_container ul .block {
    width: 25%;
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .my_container ul .block {
    width: 33.33%;
    padding-bottom: 33.33%;
  }
}

@media screen and (max-width: 600px) {
  .my_container ul .block {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 360px) {
  .my_container ul .block {
    width: 100%;
    padding-bottom: 100%;
  }
}

.my_container ul .block img {
  max-width: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.my_container ul .block span {
  overflow: hidden;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
  font-size: 1.3rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}
*/

/* grid */

/* nav */
.fa-home{
  color: white;
}

.fa-home:hover{
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  transition: 1s;
}

@media screen and (max-width: 768px) {

  .nav-icon{
    background-color: transparent;
    border:none;
  }
  .navbar{
    margin-top: 0px;
    min-height: 0px;
    height: 0px;
  }
  .navbar-header{
    background-color: transparent;
  }
  .navbar-collapse{
    background-color: #262626;
    overflow: hidden;
  }
}
/* nav */


/* Resume */

a {
  color: #66cc99;
  text-decoration: none;
}
a:hover {
    color: #ff6600;
    text-decoration: none;
}
a:active {
    color: green;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.bold {
  color: #4a4e51;
  font-weight: 400;
}

.resume-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
}

.resumecontainer {
  min-height: 600px;
}

.profile {
  background:transparent;
  width: 40%;
  float: left;
  color: #bac0c4;
}
@media (max-width: 1000px) {
  .profile {
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
  }
}
.profile .name-wrapper {
  width: 100%;
}
.profile h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: white;
  line-height: 1em;
  padding-top: 75px;
}
@media (max-width: 1200px) {
  .profile h1 {
    padding-top: 20px;
  }
}
@media (max-width: 450px) {
  .profile h1 {
    font-size: 1.8em;
    padding-top: 20px;
  }
}
.profile li {
  margin-bottom: 10px;
}
.profile .picture-resume-wrapper {
  width: 40%;
  display: block;
  float: left;
}
@media (max-width: 1200px) {
  .profile .picture-resume-wrapper {
    text-align: center;
    width: 100%;
  }
}
.profile .picture-resume {
  width: 220px;
  height: 220px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0px;
  display: table;
  position: relative;
  vertical-align: middle;
}
.profile .picture-resume span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.profile .picture-resume img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

@media (max-width: 1200px) {
  .profile .picture-resume img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1200px) {
  .profile .picture-resume {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 450px) {
  .profile .picture-resume {
    vertical-align: middle;
    width: 100%;
    height: 180px;
  }
}
.profile .contact-info {
  margin-top: 70px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .profile .contact-info {
    margin-top: 50px;
  }
}
@media (max-width: 450px) {
  .profile .contact-info {
    margin-top: 40px;
  }
}
.profile .list-titles {
  padding: 0;
  list-style-type: none;
  float: left;
  text-align: right;
  font-weight: 600;
  width: 30%;
  color: gray;
}
.profile .list-content {
  float: left;
  width: 70%;
  text-align: left;
  font-weight: 300;
}
.profile .education-presentation {
  text-align: middle;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .profile .education-presentation {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.experience {
  background: #3d3e42;
  width: 60%;
  float: left;
  position: relative;
  color: #bac0c4;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}
@media (max-width: 1000px) {
  .experience {
    width: 100%;
  }
}
.experience h3.experience-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.experience .company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .company-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.experience .job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 0%;
  margin-bottom: 50px;
}
@media (max-width: 450px) {
  .experience .job-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}
.experience .experience-title {
  color: white;
  margin-bottom: 10px;
}

.experience .experience-project {
  color: white;
  margin-bottom: 5px;
}

.section-padding {
  padding: 50px 40px 40px 40px;
}
@media (max-width: 1000px) {
  .section-padding {
    padding: 80px 5% 40px 5%;
  }
}
@media (max-width: 450px) {
  .section-padding {
    padding: 50px 3% 40px 3%;
  }
}

.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: #bac0c4;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .section-wrapper {
    width: 100%;
  }
}
.section-wrapper:nth-child(3) {
  padding-right: 8%;
}
.section-wrapper h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.section-wrapper ul{
  padding-left: 20px;
}

.section-wrapper .skill-percentage {
  margin-bottom: 10px;
  position: relative;
  border-radius:3px;
}
.section-wrapper .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #4a4e51;
  display: block;
  margin-top: 3px;
  border-radius:3px;
}
.section-wrapper .skill-percentage::before {
  content: "";
  height: 6px;
  background: #66cc99;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
  border-radius:3px;
}
.section-wrapper .skill-percentage:nth-child(1)::before {
  width: 90%;
  -webkit-animation: skill_1 2.0s ease;
          animation: skill_1 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(2)::before {
  width: 95%;
  -webkit-animation: skill_2 2.0s ease;
          animation: skill_2 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(3)::before {
  width: 85%;
  -webkit-animation: skill_3 2.0s ease;
          animation: skill_3 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(4)::before {
  width: 90%;
  -webkit-animation: skill_4 2.0s ease;
          animation: skill_4 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(5)::before {
  width: 70%;
  -webkit-animation: skill_5 2.0s ease;
          animation: skill_5 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(6)::before {
  width: 85%;
  -webkit-animation: skill_6 2.0s ease;
          animation: skill_6 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(7)::before {
  width: 65%;
  -webkit-animation: skill_7 2.0s ease;
          animation: skill_7 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(8)::before {
  width: 55%;
  -webkit-animation: skill_8 2.0s ease;
          animation: skill_8 2.0s ease;
}
.section-wrapper .skill-percentage:nth-child(9)::before {
  width: 100%;
  -webkit-animation: skill_9 2.0s ease;
          animation: skill_9 2.0s ease;
}

@-webkit-keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
@keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
@-webkit-keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes skill_7 {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}
@keyframes skill_7 {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}
@-webkit-keyframes skill_8 {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}
@keyframes skill_8 {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}
@-webkit-keyframes skill_9 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes skill_9 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}



/* social button */
#social-platforms {
  position:relative;
  top:5vh;
  font-size:1rem;
  text-align:center;
  overflow:hidden;
  min-width: 325px;
}

#social-platforms .btn {
  clear:both;
  white-space:nowrap;
  font-size:0.85em;
  display:inline-block;
  border-radius:5px;
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

#social-platforms .btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

#social-platforms .btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:hover > span {
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.45em;
  color:#fff;
  background:#333333
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #333333;
  position:absolute;
  top:13px;
  right:-14px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  width:90px;
  height: 42px;
  border-radius:0 5px 5px 0
}

#social-platforms .btn-icon > i {
  width: 39px;
  height: 42px;
}
/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#dd4b39
}

/*GitHub*/
.btn-github:hover > i,.btn-github:focus > i {
  color:#781188
}

.btn-github > span {
  background:#781188
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}
/* END social button */