  html, body {
    z-index:1;
    margin: 0px;
    height: 100%;
    color:gray;
    }
    canvas {
        display: block;
        width: 100%;
        height: 100%;
        position:fixed; 
        top:0;left:0;
  }

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/* custom background */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


/* twinkling stars*/
/*
body{ 
  background:#000 url(../img/stars.png) repeat center center fixed; 
  z-index:-3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat center center fixed;
  z-index:-2;
  overflow:auto;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
} */

/* custom background */


/* custom menu icon */
.nav-icon {
  margin: 0 auto;
  padding: 8px 5px 5px 5px;
  width: 50px;
  cursor: pointer;
}
.nav-icon div, .nav-icon:after, .nav-icon:before {
  content: "";
  background: #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 4px;
  display: block;
  margin: 5px 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-icon:hover:before {
  -moz-transform: translateY(9px) rotate(135deg);
  -ms-transform: translateY(9px) rotate(135deg);
  -webkit-transform: translateY(9px) rotate(135deg);
  transform: translateY(9px) rotate(135deg);
}
.nav-icon:hover:after {
  -moz-transform: translateY(-9px) rotate(-135deg);
  -ms-transform: translateY(-9px) rotate(-135deg);
  -webkit-transform: translateY(-9px) rotate(-135deg);
  transform: translateY(-9px) rotate(-135deg);
}
.nav-icon:hover div {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* custom menu icon */

