html, body {
  z-index:1;
  margin: 0px;
  height: 100%;
  color:gray;
}
canvas {
      display: block;
      width: 100%;
      height: 100%;
      position:fixed; 
      top:0;left:0;
}

nav ul li a:hover {
  overflow: hidden;
  -webkit-transform: translate(3px,-2px);
  -moz-transform: translate(3px,-2px);
  transition: 0.2s;
}


.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/* custom background */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


/* twinkling stars*/
/*
body{ 
  background:#000 url(../img/stars.png) repeat center center fixed; 
  z-index:-3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat center center fixed;
  z-index:-2;
  overflow:auto;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
} */

/* custom background */


/* custom menu icon */
.nav-icon {
  margin: 0 auto;
  padding: 8px 5px 5px 5px;
  width: 50px;
  cursor: pointer;
}
.nav-icon div, .nav-icon:after, .nav-icon:before {
  content: "";
  background: #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 4px;
  display: block;
  margin: 5px 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-icon:hover:before {
  -moz-transform: translateY(9px) rotate(135deg);
  -ms-transform: translateY(9px) rotate(135deg);
  -webkit-transform: translateY(9px) rotate(135deg);
  transform: translateY(9px) rotate(135deg);
}
.nav-icon:hover:after {
  -moz-transform: translateY(-9px) rotate(-135deg);
  -ms-transform: translateY(-9px) rotate(-135deg);
  -webkit-transform: translateY(-9px) rotate(-135deg);
  transform: translateY(-9px) rotate(-135deg);
}
.nav-icon:hover div {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* custom menu icon */


/* grid */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.my_container ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  clear: both;
}
.my_container ul .block {
  width: 20%;
  height: auto;
  position: relative;
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 20% 0;
  transition: 0.8s ease;
}

.my_container ul .block:hover span {
  height: 50%;
  line-height: 150%;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .my_container ul .block {
    width: 25%;
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .my_container ul .block {
    width: 33.33%;
    padding-bottom: 33.33%;
  }
}

@media screen and (max-width: 600px) {
  .my_container ul .block {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 360px) {
  .my_container ul .block {
    width: 100%;
    padding-bottom: 100%;
  }
}

.my_container ul .block img {
  max-width: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.my_container ul .block span {
  overflow: hidden;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
  font-size: 1.3rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

/* grid */

/* nav */
.fa-home{
  color: white;
}

.fa-home:hover{
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  transition: 1s;
}

@media screen and (max-width: 768px) {

  .nav-icon{
    background-color: transparent;
    border:none;
  }
  .navbar{
    margin-top: 0px;
    min-height: 0px;
    height: 0px;
  }
  .navbar-header{
    background-color: transparent;
  }
  .navbar-collapse{
    background-color: #262626;
    overflow: hidden;
  }
}
/* nav */
